//CUSTOM VARIABLES

//SPACING
$spacing--xs: 1rem; //16px
$spacing--sm: 1.5rem; //24px
$spacing--md: 2rem; //32px
$spacing--lg: 3rem; //48px
$spacing--xl: 4rem; //64px
$spacing--xxl: 5rem; //80px
$spacing--xxxl: 6rem; //80px

//OTHER
$box-shadow-1: 0px 4px 8px rgba(0,0,0,.18);
$box-shadow-2: 0px 8px 16px rgba(0,0,0,.18);
$container: 1440px;
$gradient-blue: linear-gradient(130deg, #104D6A 0%, #0C2939 100%);

//GLOBAL STYLES
.inner.expanded{
	height: 100%;
}//end .inner.expanded

.module:focus{
	outline: none;
}//end .module focus