$site-palette: (
  primary:    #104D6A,
  secondary:  #11384E,
  default:    #44413B,
  inverse:    #F9F6EE,
  accent1:    #E0483A,
  accent2:    #0C2939,
  accent3:    #F1ECE2,
  accent4:    #665E53,
  accent5:    #5E8E56,
  accent6:    #BE3C30,
);