//TYPOGRAPHY

body{
	color: get-color(default);
	line-height: 1.875rem;
}//end body

//HEADINGS

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
	color: get-color(default);
}

p{
	line-height: 1.875rem;
	color: get-color(default);
	font-size: 1.125rem;

	@include breakpoint (medium down) {
		font-size: 1rem;
		line-height: 1.5rem;
	}//end medium down breakpoint
}//end p

