*[role="slide-toggle-target"]{
	display:none;
}
.module.deck-accreditations{
	padding: $spacing--md 0;
	background: $gradient-blue;
	.inner{
		@include inner;

		.grid-x{
			background-color: get-color(inverse);
			box-shadow: $box-shadow-1;
			padding: $spacing--md $spacing--sm;
			max-width: 1000px;
			margin: 0 auto;
			.cell{
				padding: 0 $spacing--sm;

				@include breakpoint (medium only) {
					padding: 0 $spacing--xs/2;
				}//end medium only breakpoint

				@include breakpoint (small only) {
					&:not(:last-of-type){
						margin-bottom: $spacing--sm;
						border-bottom: 1px solid rgba(get-color(default),.1);
						padding: 0 0 $spacing--sm;
					}
				}//end small only breakpoint: ;
				.accred-card{
					.card-content{
						display: flex;
						flex-direction: column;
						align-items: center;
						position: relative;
						padding-bottom: $spacing--md;
						justify-content: center;
						img{
							margin-bottom: $spacing--sm;
						}//end img

						h4{
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							text-align: center;
						}//end h4
					}//end .card-content

					.card-info{
						p{
							font-size: rem-calc(14px);
							line-height: 1.5rem;
						}//end p
					}//end p

					.toggle-button{
						a{
							font-family: $body-font-family;
							font-style: italic;
							text-align: center;
							display: block;
						}//end a
					}//end .toggle-butotn
				}//end .accred-card
			}//end .cell
		}//end .grid-x
	}//end .inner
}//end .module.deck-accreditations