.module.duo{
		&--basic{
		padding-bottom: $spacing--md;
		position: relative;
		z-index: auto;

		&.rock-pattern{
			@include rock-pattern;
			background-color: get-color(accent3);
		}//end .rock-pattern

		&.green{
			background-color: get-color(accent5);
			&:before{
				@include cartography-pattern;
			}//end before
		}//end .green

		&.blue{
			background-image: $gradient-blue;
			&:before{
				@include cartography-pattern;
			}//end after
		}//end .blue

		&.sitelinks{
			.inner{
				.grid-x{
					.cell{
						.duo--card{
							h2{
								text-transform: none;
								font-weight: $font-weight-medium;
							}//end h2

							p{
								&:last-of-type{
									margin-bottom: 0;
								}//end &:last-of-tyoe
							}//end o
						}//end .duo--card
					}//end .cell
				}//end .grid-x
			}//end .inner
		}//end .sitelinks

		&.gallery{
			z-index: auto;

			.inner{
				z-index: 1;
				position: relative;
			}//end .inner
		}//end .gallery

		&.no-bottom{
			padding-bottom: 0;
		}//end no-bottom

		&.with-top{
			padding-top: $spacing--xl;

			@include breakpoint (large down) {
				padding-top: $spacing--lg;
			}//end large down breakpoint

			@include breakpoint (small only) {
				padding-top: $spacing--md;
			}//end small only breakpoint
		}//end .with-top

		&.with-bottom{
			padding-bottom: $spacing--xl;

			@include breakpoint (large down) {
				padding-bottom: $spacing--lg;
			}//end large down breakpoint

			@include breakpoint (small only) {
				padding-bottom: $spacing--md;
			}//end small only breakpoint
		}//end .with-bottom

		&.overlap-top{
			margin-top: -$spacing--xxxl;
			padding-top: $spacing--xxxl + $spacing--xl;

			@include breakpoint (large down) {
				padding-top: $spacing--xxxl + $spacing--lg;
			}//end large down breakpoint

			@include breakpoint (small only) {
				padding-top: $spacing--xxxl + $spacing--md;
			}//end small only breakpoint
		}//end overlap

		.inner{
			@include inner;
			@include innerpadding($p-medium: $spacing--xs, $p-large: $spacing--sm, $p-xlarge: $spacing--lg, $p-xxlarge: 6.5rem);
			z-index: 1;
			position: relative;
			.grid-x{
				.cell{
					padding: 0 $spacing--xs;

					@include breakpoint (small only){
						padding: 0;
					}//end small only breakpoint 

					&.media-cell{
						min-height: 250px;

						&.medium-12{
							margin-top: $spacing--sm;

							.duo--media{
								min-height: 400px;
							}//end .duo--media
						}//end .medium-12

						@include breakpoint (small only){
							margin-bottom: $spacing--sm;
						}//end small only breakpoint
						.duo--media{
							height: 100%;
							background-size: cover;
							background-repeat: no-repeat;
							background-position: 30% center;
							box-shadow: $box-shadow-1;
							min-height: 300px;
							position: relative;
							display: flex;
							justify-content: center;
							align-items: center;
					
							&.overlay{
								padding: $spacing--lg;
								&:after{
									@include overlay;
									background-image: linear-gradient(-144deg, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0.65) 100%);
								}//end after

								.logo{
									z-index: 1;
									position: relative;
								}//end img
							}//end overlay

							&.gallery{
								background: none;
								display: block;

								.gallery__slider{
									position: relative;
									display: flex;
									height: 100%;

									.slick-list{
										overflow: hidden;
										width: 100%;
											.slick-track, .slick-track  div {
												height: 100%; 
												width: 100%;
											}//end .slick-track, .slick-track  div
											.slick-slide{
												.gallery-image{
													background-size: cover;
													background-repeat: no-repeat;
													background-position: right bottom;
												}//end .gallery-image
											}//end .slick-slide

									}//end slick-list

									.slick-arrow{
										position: absolute;
										height: 60px;
										width: 60px;
										background: get-color(inverse);
										z-index: 1;
										align-self: center;
										justify-content: center;
										box-shadow: $box-shadow-2;
										top: calc(50% - 30px);
										cursor: pointer;
										@include transition;

										@include breakpoint (small only) {
											height: 40px;
											width: 40px;
											top: calc(50% - 20px);
										}//end small only breakpoint

										&:after{
											content:'';
											background-repeat: no-repeat;
											display: block;
											position: absolute;
											height: 18px;
											width: 10px;
											top: calc(50% - 9px);
											left: calc(50% - 5px);

											@include breakpoint (small only) {
												font-size: 1.7rem;
											}//end small only breakpoint
										}//end after

										&.slick-prev{
											left: -1rem;
											&:after{
												background-image: url("../img/icon/angle-left.svg");
											}//end after
										}//end slick-prev

										&.slick-next{
											right: -1rem;

											&:after{
												background-image: url("../img/icon/angle-right.svg");
											}//end after
										}//end slick-next

										&:hover{
											box-shadow: $box-shadow-1;
											background: darken(get-color(inverse),5%);
											transform: translateY(2px);
											@include transition;
										}
									}//end slick-arrow
							}//end accreditaion__slider
							}//end .gallery

							&.insurance{
								position: relative;
								display: flex;
								align-items: center;
								box-shadow: none;
								min-height: 250px;

								@include breakpoint (medium down) {
									margin-top: $spacing--sm;
								}//end medium down breakpoint


								.grid-x {
									height: 400px;

									@include breakpoint (medium only) {
										height: 200px;
									}//end medium only breakpoint

									.cell{
										display: flex;
										justify-content: center;
										margin-bottom: $spacing--xs;

										@include breakpoint (medium only){
											margin-bottom: $spacing--xs;
											padding: $spacing--xs;
										}//end medium only breakpoint

										@include breakpoint (small only){
											padding: $spacing--xs;
										}//end small only breakpoint


										.insurance-logos{
											align-self: center;
											flex: 0 1 auto;
										}//end insurance logos
									}//end cell
								}//end .grid-x
							}//end .insurance
						}//end .duo--media
					}//end media cell
					
					.duo--card{
						padding: $spacing--xl;
						box-shadow: $box-shadow-1;
						border: none;
						background: get-color(inverse);
						color: get-color(default);
						margin-bottom: 0;

						@include breakpoint (large only) {
							padding: $spacing--lg;
						}//end large only breakpoint

						@include breakpoint (medium only) {
							padding: $spacing--md;
						}//end medium only breakpoint

						@include breakpoint (small only) {
							padding: $spacing--sm;
						}//end small only breakpoint

						@at-root .module.duo--basic.no-card .inner .grid-x .cell .duo--card {
							padding: 0;
							background: none;
							box-shadow: none;
						}

						.accreditations{
							margin-top: $spacing--xs;
							img{
								max-height: 75px;

								&:first-of-type{
									margin-right: $spacing--sm;
								}//end first-of-type 
							}//end img
						}//end .accreditations

						.expanded.button-group{
							justify-content: start;
							margin: $spacing--sm 0 0;

							@include breakpoint (medium down) {
								max-width: none;
								flex-direction: column;
								margin: $spacing--sm auto 0;
							}//end medium down breakpoint
							.button{
								flex: 0 1 auto;
								margin: 0;

								@include breakpoint (medium down) {
									flex: 1 1 0px;
									max-width: none;
								}//end medium down breakpoint

								&:first-of-type{
									margin-right: $spacing--xs;

									@include breakpoint (medium down) {
										margin-right: 0;
										margin-bottom: $spacing--xs;
									}//end medium down breakpoint
								}//end first-of-type
							}//end .button
						}//end .expanded.button-group
					}//end .card
				}//end cell
			}//end .grid-x
		}//end .inner
	}//end --basic
}//end .module.duo
