.module.email {
	position: relative;
	z-index: 1;
	padding-top: $spacing--lg;

	@include breakpoint (small only) {
		padding-top: $spacing--md;
	}//end small only breakpoint

	.inner {
		@include inner;
	}//end .inner

	.email__card {
		background-color: get-color(primary);
		padding: $spacing--lg;

		@include breakpoint (small only) {
			padding: $spacing--sm;
		}//end small only breakpoint

		h3 {
			text-align: center;
			color: get-color(inverse);
			margin-bottom: $spacing--sm;
		}//end h3
	}//end email__card
}//end .module.email

.form {
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: center;

	&--email {
		max-width: 500px;
		margin: 0 auto;

		@include breakpoint (small down) {
			flex-direction: column;

			& > * {
				width: 100%;
			}
		}//end small down breakpoint 

		.form__input {
			margin-right: $spacing--xs;
			width: auto;
			flex: 1 1 auto;
			border: none;
			margin-bottom: 0;
			height: 50px;

			@include breakpoint (small down) {
				width: 100%;
				margin: 0 0 $spacing--xs 0;
			}//end small down breakpoint
		}//end .sl_form__input

		.button {
			margin-bottom: 0;
		}
	}//end &--email
}