.module.insurance-keywords {
	padding: $spacing--xl;
	background-color: get-color(inverse);

	@include breakpoint (medium only) {
		padding: $spacing--lg $spacing--xs;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--md 0;
	}//end small only breakpoint
	.inner {
		@include inner;
		max-width: 1200px;
		.insurance-keywords--card {
			.insurance-logos {
				margin-bottom: $spacing--sm;
			}//end .insurance-logos

			.button {
				display: inline-block;
			}//endn .button
		}//end .insurance-keywords--card
	}//end .inner
}//end .module.insurance-keywords