.button.primary.sticky{
	position: fixed;
	right: $spacing--sm;
	bottom: 0;
	margin-bottom: 0;
	z-index: 99999;
	display: none;
	padding: $spacing--xs $spacing--sm;
	justify-content: center;
	align-content: center;
	background-color: get-color(accent1);
	border: none;
	box-shadow: 2px 4px 8px rgba(0,0,0,.2);
	color: get-color(inverse);
	font-size: 1.25rem;

	&:before{
		content:'';
		background-image: url("../img/icon/chat-white.svg");
		background-repeat: no-repeat;
		height:17px;
		width: 20px;
		display: inline-block;
		margin-right: $spacing--xs;
	}//end before

	&.active{
		display: flex !important;

		@include breakpoint (small only){
			display: none !important;
		}//end small only breakpoint
	}//end active

	&:hover{
		background: darken(get-color(accent1),10%);
		border: none;
		color: get-color(inverse);
	}//end hover
}//end .button.primary.sticky

div#lhnHelpOutCenter{
	overflow: hidden;
	&.lhnWindow{
		height: auto;
		opacity: 1;
		border-radius: 0;
		background: transparent;
		transition: all .5s ease-in-out;

		@include breakpoint (small only){
			&.lhnWindow-sidebar{
				height: auto;
				opacity: 1;
			}//end lhnWindow-sidebar
		}//end small only breakpoint
		&.lhnright{
			right: 0 !important;
			&.lhnActive{
				height: auto;
				transition: all .5s ease-out;
				&.circleButton{
					bottom: 0;
					right: 0;
				}//end circleButton
			}//end lhnActive

			&.circleButton{
				#lhnHocHeader{
					background: get-color(primary);
					padding: 0;
					position: relative;
					border-radius: 0;
					display: flex;
					height: 60px;

					.lhnWindow-header-avatar{
						display: block;
						float: none;
						width: auto;
						flex: 0 1 auto;
						padding: $spacing--xs;
						padding-right: 0;
					}//end .lhnWindow-header-avatar

					.lhnWindow-header-text{
						padding-left: $spacing--xs;
						flex: 1 1 auto;
						float: none;
						width: auto;
						display: flex;
						justify-content: center;
						flex-direction: column;
						& > h3 span{
							color: get-color(inverse);
							font-family: $header-font-family;
							text-shadow: none;
							font-size: 1.125rem;
							letter-spacing: 0;
						}//end h3 span
						& > h4{
							color: get-color(inverse);
							font-family: $header-font-family;
							text-shadow: none;
							font-size: 12px;
							text-transform: none;
							font-weight: $font-weight-regular;
							letter-spacing: 0;
						}//end *
					}//end .lhnWindow-header-text

					.lhnWindow-header-controls{
						display: flex;
						width: auto;
						height: 60px;

						#lhnWindowMinimizer, #lhnWindowCloser{
							height: 100%;
							margin: 0;
							width: 40px;
							display: block;
							padding: 0 12px;

							img{
								filter: none;
							}//end img
						}//end lhnWindoMinimizer, #lhnWindowCloser

						#lhnWindowMinimizer{
							background-color: get-color(secondary);
							transition: none;
							height: 30px !important;
							width: 30px !important;
							margin-top: $spacing--xs;
							margin-right: $spacing--xs/2;

							&:hover{
								background-color: lighten(get-color(secondary), 15%);
								transition: none;
							}//end hover
						}//end #lhnWindowMinimizer

						#lhnWindowCloser{
							background-color: darken(get-color(secondary), 5%);
							transition: none;
							height: 30px !important;
							width: 30px !important;
							margin-top: $spacing--xs;
							margin-right: $spacing--xs/2;

							&:hover{
								background: lighten(get-color(secondary), 15%);
								transition: none;
							}//end hover
						}//end #lhnWindowMinimizer
					}// end .lhnWindow-header-controls
				}//end lhnHocHeader

				#hocContainer{
					background: get-color(inverse);
					height: auto;
					padding: $spacing--sm 1.125rem $spacing--md;
					overflow: hidden;

					.lhnHocSection{
						height: 309px !important;
						padding-bottom: 0;

						.lhnSystemMessage.lhnWindow-message--container *{
							font-family: $body-font-family;
							color: get-color(accent4);
						}//end .lhnSystemMessage.lhnWindow-message--container

						.lhnCustomerMessage .lhnWindow-message{
							background-color: #1979A7; 
							font-family: $body-font-family;
							font-size: 15px;
							line-height: 22px;
							padding: 10px;
							color: get-color(inverse);

							&:after{
								border-color: transparent transparent transparent #1979A7; 
							}//end after
						}//end .lhnCustomerMessage .lhnWindow-message

						.lhnOperatorMessage{

							.lhnWindow-message{
								background-color: #E4E0D6;
								color: get-color(accent4);
								font-family: $body-font-family;
								font-size: 15px;
								line-height: 22px;
								padding: 10px;

								&:after{
									border-color: transparent transparent #E4E0D6 transparent;
								}//end after
							}//end .lhnWindow-message

							.lhnTypingDot{
								background-color: get-color(accent4);
							}//end lhnTypingDot
						}//end .lhnOperatorMessage

						.lhnWindow-chat_input{
							background-color: get-color(accent3);
							border: none;
							bottom: -30px;
							padding-right: 10px;

							#lhnChatMessageBox{
								textarea{
									background-color: get-color(accent3);
									border: none;
									box-shadow: none;
									font-family: $body-font-family;
									color: get-color(accent4);
									font-size: 14px;
									margin-bottom: 0;
								}//end textarea
							}//end lhnChatMessageBox

							.lhnChatActionsMenu img{
								background-color: get-color(primary);
							}

							.lhnInput-chat_input-buttons{
								.lhnSendButton{
									border-radius: 0;
									text-shadow: none;
									font-family: $header-font-family;
									background-color: get-color(accent1);
									letter-spacing: 0;
									font-size: 14px;
								}
							}//end lhnInput-chat_input-buttons
						}//end .lhnWindow-chat_input

						.lhnPrompt{
							background-color: rgba(15,77,106,.9);
							height: auto;
							bottom: -100px;
							top: -24px;
							font-family: $body-font-family;
							color: get-color(inverse);
							font-size: 1rem;
							text-align: left;

							.lhnPromptMsg, small{
								font-family: $body-font-family;
								color: get-color(inverse);
								font-size: 1rem;
								text-align: left;
								display: inline-block;
							}//end .lhnPromptMsg

							small{
								font-size: 14px;
							}//end small

							.lhnPromptButtons{
								button{
									width: 100%;
									margin: auto;
									margin-bottom: $spacing--xs;
									font-family: $header-font-family;
									text-shadow: none;
									font-size: 1rem;
									height: 50px;
									border-radius: 0;
									box-shadow: $box-shadow-1;
									color: get-color(inverse);
									@include transition;

									&.lhnPromptAccept{
										background-color: get-color(accent1);
										border-color: get-color(accent1);
									}//end lhnPromptAccept

									&.lhnPromptDecline{
										background-color: transparent;
										border-color: get-color(inverse);
									}//end lhnPromptDecline

									&:hover{
										background-color: get-color(inverse);
										border-color: get-color(inverse);
										color: get-color(accent1);	
										@include transition;
									}//end hover
								}//end button
							}//end lhnPromtButtons
						}//end lhnPrompt
					}//end lhnHocSection

					.lhnPreChatForm, .lhnOfflineForm{
						& > div{
							font-family: $body-font-family;
							font-size: 14px;
							line-height: 22px;
							color: get-color(default);
						}//end div

						.lhnFields{
							.lhnField > label.lhnLabel{
								font-family: $body-font-family;
								text-transform: none;
								font-size: 1rem;
								font-weight: $font-weight-regular;
								color: get-color(accent4);
							}//end lhnlabel
							.lhnFieldInput{
								input.lhnInput, textarea.lhnInput{
									background: get-color(accent3);
									border-radius: 0;
									margin-top: $spacing--xs/2;
									margin-bottom: $spacing--sm;
									color: get-color(accent4);
									font-size: 1rem;
									font-family: $header-font-family;

									&:last-of-type{
										margin-bottom: $spacing--md;
									}//end last-of-type
								}//end input.lhnInput
							}//end lhnFieldInput
						}//end lhnFields

						button.lhnFormButton, button.form_submit{
							background: get-color(accent1);
							width: 100%;
							border-radius: 0;
							box-shadow: $box-shadow-1;
							font-size: 1rem;
							font-family: $header-font-family;
							text-shadow: none;
							@include transition;

							&:hover{
								box-shadow: none;
								background: darken(get-color(accent1),10%);
								@include transition;
							}//end hover
						}//end button
					}//end lhnPreChatForm
				}//end hocContainer

				.lhnWindow-footer{
					display: none !important;
				}//end lhnWindow-footer
			}//end .circleButton
		}//end lhnright
	}//end lhnWindow
}//#lhnHelpOutCenter