.mountain{
	position: absolute;
	background-size: 100%;
	background-position: center bottom;
	background-repeat: no-repeat;
	//height: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0; 
	
	&.mountain-back{
		background-image:url(../img/mountain-back.svg);
	}//end .mountain-back

	&.mountain-front{
		background-image:url(../img/mountain-front.svg);
	}//end .mountain-front
}//end .mountain