#nav{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99999;

	#mobilephone{
		.cell{
			color: get-color(inverse);
			text-align: center;
			font-family: $header-font-family;
			font-size: 1.125rem;
			font-weight: $font-weight-medium;
			text-transform: uppercase;
			padding: $spacing--xs/2 0;
			flex: 1 0 auto;

			&.mobilephone__chat{
				background: get-color(accent6);
				display: none;

				&.active{
					display: block;
				}//end .active
			}//end .mobilephone__chat
			&.mobilephone__call{
				background: get-color(accent1);
			}//end .mobilephone__chat
		}//end .cell
	}//end #mobilephone
	.title-bar{
		background: rgba(get-color(secondary),.75);
		padding: 0;

		&-left{
			background: get-color(secondary);
			padding: $spacing--xs;
			max-width: 200px;
			flex: 1 0 auto;
		}//end &-left

		&-right{
			padding: $spacing--xs/2 $spacing--xs;
			flex: 2 1 auto;
			.hamburger{
				padding: 0;

				&:focus{
					outline: none;
				}//end focus

				&:hover{
					opacity: 1;
				}//end hover
				.hamburger-label{
					color: get-color(inverse);
					text-transform: uppercase;
					font-family: $header-font-family;
					font-size: 10px;
					letter-spacing: 2px;
					font-weight: $font-weight-semibold;
					line-height: 1;
					display: block;
				}//end .hamburger-label

				&-inner{
					background: get-color(inverse);
					&:after, &:before{
						background: get-color(inverse);
					}//end before and after
				}//end hamburger-inner
			}//.end hamburger
		}//end &-right
	}//end .title-bar

	#mobile-menu{
		background: get-color(primary);
		padding: $spacing--xs;
		.main-menu{
			margin: 0;
			list-style: none;
			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;
			font-family: $header-font-family;
			font-size: 1rem;
			letter-spacing: 1.33px;
			text-transform: uppercase;


			.menu-text{
				&:not(:last-child){
					margin-bottom: $spacing--xs;
				}//end not last child
				
				a{
					color: get-color(inverse);
				}//end a
			}//end .menu-text
		}//end .main-menu
	}//end #mobile-menu
	.top-bar{
		background: rgba(get-color(secondary), .85);
		box-shadow: $box-shadow-1;
		padding: 0;
		height: 85px;

		.inner{
			display: flex;
			align-items: center;
			width: 100%;

			.top-bar-left{
				align-items: center;
				display: flex;
				
				a{
					background: get-color(secondary);
					display: block;
					padding: $spacing--sm $spacing--xs;
					max-width: 200px;
					position: absolute;
					top: 0;

					img{
						@include breakpoint (medium only){
							max-width: 100px;
						}//end medium only breakpoint
					}//end img
				}//end a
			}// end .top-bar-left

			.top-bar-right{
				padding: $spacing--xs/2 $spacing--md $spacing--xs/2 0;
				display: flex;
				align-self: center;
				align-items: center;

				.dropdown.menu{
					flex: 1 1 auto;
					font-family: $header-font-family;
					color: get-color(inverse);
					background: transparent;
					text-transform: uppercase;
					letter-spacing: 1.33px;
					padding-right:  $spacing--sm;

					@include breakpoint (large only) {
						padding-right: $spacing--xs;
					}//end large only breakpoint

					@include breakpoint (medium only){
						letter-spacing: .5px;
						padding-right: 0;
						font-size: 14px;
					}//end medium only breakpoint
					li{
						padding: 0;
						opacity: 1;
						display: blck;
						@include transition;

						&:hover{
							a{
								background: rgba(get-color(secondary),.50);
								border-radius: 2px;
								@include transition;
							}//end a
						}//end hover
						a{
							color: get-color(inverse);
							background: transparent;
							padding: $spacing--xs;
							@include transition;

							@include breakpoint (large only) {
								padding: $spacing--xs .625rem;
							}//end large only breakpoint

							@include breakpoint (medium only) {
								padding: $spacing--xs .625rem;
							}//end medium only breakpoint
						}//end a
					}//end li

				}//end .dropdown menu
				#callinfo{
					flex: 1 1 auto;
					background: get-color(accent1);
					font-family: $header-font-family;
					font-size: 1.5rem;
					font-weight: $font-weight-medium;
					color: get-color(inverse);
					padding: .625rem $spacing--sm;
					text-transform: uppercase;

					a{
						color: get-color(inverse);
					}//end a

					@include breakpoint (medium only){
						font-size: 1.125rem;
						padding: $spacing--xs/2 $spacing--xs;
					}//end medium only breakpoint
				}//end .callinfo

				.joint-commission-logo{
					width: 75px;
					margin-left: $spacing--sm;
				}//end .joint-commision-logo
			}// end .top-bar-right
		}//end inner
	}//end .top-bar
}//end #nav