//REVEAL

.reveal-overlay{
	background: rgba(get-color(secondary),.50);
	z-index: 99999;

	@include breakpoint (small only){
		padding: $spacing--sm;
	}//end small only breakpoint
	.reveal{
		&.treatment-modals{
			background: get-color(inverse);
			padding: $spacing--xl;
			box-shadow: $box-shadow-2;
			width: 80%;
			margin: auto;

			@include breakpoint (xlarge only){
				padding: $spacing--xl;
			}//end xlarge only breakpoint

			@include breakpoint (large only){
				padding: $spacing--lg;
			}//end large only breakpoint

			@include breakpoint (medium only){
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small only){
				width: 100%;
				padding: $spacing--sm;
				height: auto;
				min-height: 0;
				max-height: 100vh;
				overflow-y: scroll;
			}//end small only breakpoint

			.close-button{
				color: get-color(primary);
			}//end .close-button
		}//end .treatment-modals
	}//end .reveal
}//end reveal overlay