.module.spotlight{
		position: relative;
		padding: $spacing--xxl 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
		border-top: 8px solid get-color(secondary);

		@include breakpoint (small only) {
			padding: $spacing--md 0;
		}//end small only breakpoint

		&:after{
			@include overlay;
			background-image: linear-gradient(-53deg, rgba(0,0,0,0.00) 0%, #2C4043 100%);

			@include breakpoint (small only) {
				background: rgba(#2C4043, .8);
			}//end small only breakpoint
		}//end after

		.inner{
			@include inner;

				.card-section{
					max-width: 600px;
					position: relative;
					z-index: 1;
					padding: 0;

					@include breakpoint (small only){
						max-width: none;

					}//end small only breakpoint
					h2{
						color: get-color(inverse);
						letter-spacing: 1.67px;
						line-height: 3rem;
						font-size: 2.5rem;

						@include breakpoint (small only){
							line-height: 39px;
							max-width: 270px;
							font-size: 2rem;
						}//end small only breakpoint
					}//end h1
						
					p{
						color: get-color(inverse);
						margin-bottom: $spacing--sm;
					}//end p

					.button-group{
						margin: 0;
						justify-content: space-between;

						.button{
							max-width: 220px;
							margin: 0;
						}
					}//end .expanded.button-group

					@include breakpoint (small only){
						.button-group{
							flex-direction: column;
							max-width: none;
							margin: 0;

							.button{
								width: 100%;
								max-width: none;

								&.primary:first-of-type{
									margin-bottom: $spacing--xs;
								}//end .primary
							}//end .button
						}//end .button group
					}//end small only breakpoint
				}//end .card-section
		}//end .inner.expanded
	}//end .module.spotlight