.module.staff{
	padding: $spacing--xl 0;

	@include breakpoint (small only) {
		padding: $spacing--md 0;
	}//end small only breakpoint
	&.rock-pattern{
		@include rock-pattern;
		background-color: get-color(accent3);
	}//end .rock-pattern
	.inner{
		@include inner;

		h2{
			text-transform: none;
			font-weight: $font-weight-medium;
			text-align: center;
		}//end h2

		p{
			max-width: 910px;
			margin: 0 auto $spacing--lg;

			@include breakpoint (small only) {
				margin-bottom: $spacing--sm;
			}//end small only breakpoint
		}//end p

		.staff-container{
			max-width: 990px;
			margin: 0 auto;
			.grid-x{
				@include breakpoint (small only) {
					flex-direction: column;
				}//end small only breakpoint
				.cell{
					padding: 0 $spacing--xxl/2;

					@include breakpoint (medium only) {
						padding: 0 $spacing--xs;
					}//end medium only breakpoint

					@include breakpoint (small only) {
						padding: 0;
						max-width: 275px;
						margin: 0 auto $spacing--sm;
					}//end small only breakpoint
					.staff-member{
						box-shadow: $box-shadow-2;
						.staff-media{
							min-height: 225px;
							width: 100%;
							background-size: cover;
							background-repeat: no-repeat;
						}//end .staff-media

						.staff-info{
							background-color: get-color(inverse);
							padding: $spacing--xs;
							h3{
								text-transform: none;
								font-weight: $font-weight-regular;
								font-size: 1.125rem;
								text-align: center;
								margin-bottom: 0;
							}//end h3

							h4{
								text-transform: none;
								font-weight: $font-weight-regular;
								font-size: 1rem;
								font-family: $body-font-family;
								text-align: center;
								margin-bottom: 0;
							}//end h4
						}//end .staff-info
					}//end .staff-member
				}//end .cell
			}//end .grid-x
		}//end .staff-container;
	}//end .inner
}//end .module.staff