.button{
	font-family: $header-font-family;
	text-transform: uppercase;
	font-weight: $font-weight-medium;
	font-size: 1rem;
	box-shadow: $box-shadow-1;
	padding: $spacing--xs $spacing--sm;
	display: block;

	&.primary{
		background: get-color(accent1);
		@include transition;

		&:hover{
			background: darken(get-color(accent1), 10%);
			@include transition;
			color: get-color(inverse);
		}//end hover

		&.hollow{
			background: transparent;
			border: 2px solid get-color(inverse);
			color: get-color(inverse);
			display: none;
			@include transition;

			&.red{
				border-color: get-color(accent1);
				box-shadow: none;
				color: get-color(accent1);

				&:hover{
					background: darken(get-color(accent1),5%);
					color: get-color(inverse);
					@include transition;
					border-color: get-color(accent1);
				}//end hover
			}//end .red
			
			&:hover{
				background: get-color(inverse);
				@include transition;
				color: get-color(accent1);
				border: 2px solid get-color(inverse);
			}//end hover

			.chat-is-offline{
				display: none;
			}//end chat-is-offline

			&.offline{
				.chat-is-online{
					display: none;
				}//end .chat-is-online

				.chat-is-offline{
					display: block;
				}//end .chat-is-offline
			}//end offline
		}//end .hollow
	}//end primary
}// end .button

.button-group{
	max-width: 600px;
	margin: auto;
	width: 100%;
	justify-content: space-evenly;
	.button{
		font-size: 1rem;
		max-width: 260px;
		margin: auto;
		&.hollow{
			display: none;

			&.active{
				display: block;
			}
		}//end hollow
		@include breakpoint (small only){
			max-width: none;
		}//end small only breakpoint

		&:last-child{
			margin: auto;
		}//end last-child
	}//end .button
}//end .button-group 

.card{
	border: none;
	background: get-color(inverse);
	color: get-color(default);
	margin-bottom: 0;
}//end card

.footer{
	@include cartography-pattern;
	position: relative;
	background-color: get-color(primary);
	text-align: center;
	padding: $spacing--xs $spacing--xs $spacing--xl $spacing--xs;
	color: get-color(inverse);

	@include breakpoint (small only) {
		padding: $spacing--xs;
	}//end small only breakpoint

		a{
			color: get-color(inverse);
			text-decoration: underline;
		}//end a

	@include breakpoint (small only) {
		font-size: 1rem;
	}//end small only breakpoint
}//end footer
