.module.wysiwyg{
	position: relative;
	padding: $spacing--xl 0;

	@include breakpoint (large down) {
		padding: $spacing--lg 0;
	}//end large down breakpoint

	@include breakpoint (small only) {
		padding: $spacing--md 0;
	}//end small only breakpoint

	&.rock-pattern{
		@include rock-pattern;
		background-color: get-color(accent3);
	}//end .rock-pattern

	&.green{
		background-color: get-color(accent5);
		&:before{
			@include cartography-pattern;
		}//end before
	}//end .green

	&.blue{
		background-image: $gradient-blue;
		&:before{
			@include cartography-pattern;
		}//end after
	}//end .blue

	&.overlap-top{
		margin-top: -$spacing--xxxl;
		padding-top: $spacing--xxxl + $spacing--xl;

		@include breakpoint (large down) {
			padding-top: $spacing--xxxl + $spacing--lg;
		}//end large down breakpoint

		@include breakpoint (small only) {
			padding-top: $spacing--xxxl + $spacing--md;
		}//end small only breakpoint
	}//end overlap

	&.overlap-bottom{
		padding-bottom: $spacing--xl + $spacing--xxxl;
		margin-bottom: -$spacing--xxxl;
		z-index: 1;

		@include breakpoint (large down) {
			padding-bottom: $spacing--xxxl + $spacing--lg;
		}//end large down breakpoint

		@include breakpoint (small only) {
			padding-bottom: $spacing--xl + $spacing--md;
			margin-bottom: -$spacing--xl;
		}//end small only breakpoint
	}//end with-bottom
	

	.inner{
		@include inner;
		position: relative;
		z-index: 1;

		.wysiwyg--card{
			background-color: get-color(inverse);
			box-shadow: $box-shadow-1;
			padding: $spacing--xl;

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				padding: $spacing--sm;
			}//end small only breakpoint

			h2{
				text-transform: none;
				font-weight: $font-weight-medium;
			}//end h2

			ul{
				line-height: 1.875rem;
				margin-bottom: 0;

				@include breakpoint (small only) {
					line-height: 1.5rem;
				}//end small only breakpoint
				li{
					margin-bottom: $spacing--xs;
					&:last-of-type{
						margin-bottom: 0;
					}//end last-of-tyoe
				}//end li
			}//end ul

			.button{
				max-width: 250px;
				margin-bottom: 0;

				@include breakpoint (small only) {
					max-width: none;
				}//end small only breakpoint
			}//end .button
		}//end .wysiwyg--card
	}//end inner
}//end .module.wysiwyg