.module.billboard{
	background-image: url("../img/blackbear-campus.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5.5rem + $spacing--xl $spacing--sm $spacing--xl $spacing--sm;

	@include breakpoint (small only) {
		padding: 6.75rem + $spacing--sm $spacing--sm $spacing--sm $spacing--sm;
		height: auto;
		background-position: center top;
	}//end small only brekapoint

	&:after{
		@include pseudo;
		background: linear-gradient(-179deg, rgba(0,0,0,0.05) 3%, rgba(0,0,0,0.25) 44%, rgba(0,0,0,0.50) 100%);
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}//end after

	&:before{
		@include pseudo;
		background-color: rgba(get-color(primary),.3);
		top: 0;
		right: 0;
		left: 0;
		bottom: 0; 
	}//end before

		.card-section{
			z-index: 1;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 0;
			position: relative;
			width: 100%;

			img{
				margin: auto;
				margin-bottom: $spacing--sm;
				max-width: 200px;
				width: 100%;

				&.accreditation{
					width: auto;
				}//end .accreditation

			}//end img
			h1{
				text-align: center;
				font-size: 2rem;
				line-height: 2.5rem;
				color: get-color(inverse);
				text-transform: none;
				font-weight: $font-weight-medium;
				max-width: 900px;
				width: 100%;
				margin: 0 auto $spacing--xs/2;

				@include breakpoint (small only) {
					font-size: 1.5rem;
					text-align: left;
					line-height: 2rem;
					margin: 0 0 $spacing--xs/2;
				}//end small only brekapoint

				@at-root .module.billboard.sitelinks .card-section h1{
					font-size: 2.5rem;
					margin-bottom: $spacing--xs;

					@include breakpoint (small only) {
						font-size: 2rem;
						text-align: left;
					}//end small only breakpoint
				}//end sitelink heading
			}//end h1

			p{
				text-align: center;
				font-size: 1.25rem;
				color: get-color(inverse);
				margin: 0 auto $spacing--sm;
				max-width: 900px;
				width: 100%;

				@include breakpoint (small only){
					font-size: 1.125rem;
					text-align: left;
				}//end small only breakpoint
			}//end p

			@include breakpoint (small only){
				.button-group{
					flex-direction: column;
					max-width: none;
					margin: 0;

					.button{
						width: 100%;

						&.primary:first-of-type{
							margin-bottom: $spacing--xs;
						}//end .primary
					}//end .button
				}//end .button group
			}//end small only brekapoint
		}//end .card-section
		
		@include breakpoint (small only){
			.mountain{display: none}//end mountain
		}//end small only breakpoint

	&.branding {
		padding: 5.5rem + $spacing--xxl $spacing--sm $spacing--xxl $spacing--sm;
		.card-section{
			z-index: 1;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 0;
			position: relative;
			width: 100%;

			img{
				margin: auto;
				margin-bottom: $spacing--sm;
				max-width: 200px;
				width: 100%;

				&.accreditation{
					width: auto;
				}//end .accreditation

			}//end img
			h1{
				text-transform: uppercase;
				font-size: 3rem;
				margin-bottom: $spacing--sm;
				line-height: 1;

				@include breakpoint (small only) {
					font-size: 2.5rem;
					margin-bottom: $spacing--xs;
				}//end small only breakpoint
			}//end h1

			h2 {
				color: get-color(inverse);
				text-transform: none;
				font-weight: $font-weight-medium;
				width: 100%;
				margin: 0 auto $spacing--xs/2;
				text-align: center;

				@include breakpoint (small only) {
					text-align: left;
				}//end small only breakpoint
			}//end h2

			p{
				max-width: 1000px;
			}//end p
		}//end .card-section
	}//end &.branding
}//end billboard module