#contact{
	&.module.cta{
		padding: $spacing--md*3 $spacing--sm;
		background-image: url(../img/blackbear-cabin.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center 75%;
		position: relative;

		@include breakpoint (medium only){
			padding: $spacing--xxl $spacing--sm;
		}//end medium only breakpoint

		@include breakpoint (small only){
			padding: $spacing--lg $spacing--sm;
		}//end small only breakpoint

		&:after{
			@include overlay;
			background-image: linear-gradient(-70deg, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0.80) 98%);
		}//end after
		.inner.expanded{
			.grid-x{
				justify-content: center;
				align-items: center;
				.card-section{
					padding: 0;
					position: relative;
					z-index: 1;

					h2{
						text-align: center;
						color: get-color(inverse);
						margin-bottom: $spacing--xs;

						@include breakpoint (large only){
							font-size: 2rem;
						}//end large only breakpoint

						@include breakpoint (medium only){
							font-size: 2rem;
						}//end medium only breakpoint
					}//end h2
					p{
						text-align: center;
						color: get-color(inverse);
						font-size: 1.5rem;
						margin-bottom: $spacing--sm;

						@include breakpoint (small only){
							font-size: 1.125rem;
							line-height: 1.5rem;
							padding: 0 $spacing--md;
						}//end small only breakpoint
					}//end p

					@include breakpoint (small only){
						.button-group{
							flex-direction: column;
							max-width: none;
							margin: 0;

							.button{
								width: 100%;
								max-width: none;
								margin: 0;

								&.primary{
									margin-bottom: $spacing--xs;
									margin-right: 0;
								}//end .primary
							}//end .button
						}//end .button group
					}//end small only breakpoint
				}//end .card-section
			}//end .grid-x
		}//end .inner.expanded
	}// end .module.spotlight
}//end #contact
