#insurance{
	&.module.duo{
		background: get-color(accent3);
		.inner.expanded{
			.grid-x{
				.duo-content{
					max-width: $container/2;
					margin-left: auto;

					@include breakpoint (small only){
						max-width: none;
					}//end small only breakpoint
					.card--duo{
						background: get-color(accent3);
						padding: $spacing--xxl;
						padding-left: 7.5rem;

						@include breakpoint (xlarge only){
							padding: $spacing--xl;
						}//end xlarge only breakpoint

						@include breakpoint (large only){
							padding: $spacing--lg;
						}//end large only breakpoint

						@include breakpoint (medium only){
							padding: $spacing--md;
						}//end medium only breakpoint

						@include breakpoint (small only){
							padding: $spacing--sm;
						}//end small only breakpoint

						p:last-of-type{
							margin-bottom: $spacing--lg;

							@include breakpoint (xlarge only){
								margin-bottom: $spacing--md;
							}//end xlarge only breakpoint

							@include breakpoint (large only){
								margin-bottom: $spacing--sm;
							}//end large only breakpoint

							@include breakpoint (medium only){
								margin-bottom: $spacing--sm;
							}//end medium only breakpoint

							@include breakpoint (small only){
								margin-bottom: $spacing--xs;
							}//end small only breakpoint
						}//end p

						.button-group{
							margin: 0;
							justify-content: space-between;

							.button{
								max-width: 220px;
								margin: 0;
							}
						}//end .expanded.button-group

						.button.primary.hollow{
							border-color: get-color(accent1);
							color: get-color(accent1);
							box-shadow: none;
						}//end .button.primary.hollow

						.button.primary:hover{
							background: darken(get-color(accent1),10%);
							box-shadow: none;
							border-color: darken(get-color(accent1),10%);
							color: get-color(inverse);
						}//end .button.primary:hover

						@include breakpoint (large only){
							.button-group{
								.button{
									padding: $spacing--xs;
									margin-right: $spacing--xs;

									&:last-child{margin-right: 0};
								}//end .button
							}//end .button-group
						}//end large only breakpoint

						@include breakpoint (medium down){
							.button-group{
								flex-direction: column;
								max-width: none;
								margin: 0;

								.button{
									width: 100%;
									max-width: none;

									&.primary:first-of-type{
										margin-bottom: $spacing--xs;
									}//end .primary
								}//end .button
							}//end .button group
						}//end medium down breakpoint
					}//end .card--duo
				}//end.duo-content

				.duo-media{
					background: get-color(accent3);
					position: relative;
					display: flex;

					@include breakpoint (small only){
						min-height: 400px;
					}//end small only breakpoint

					.duo-image{
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						left: 0;
						z-index: 1;
						align-self: center;
						display: flex;
						align-items: center;
						@include breakpoint (large only){
							padding: $spacing--lg;
						}//end large only breakpoint

						@include breakpoint (medium only){
							padding: $spacing--xs;
						}//end medium only breakpoint

						@include breakpoint (small only){
							padding: $spacing--sm $spacing--xs;
						}//end small only breakpoint
						.grid-x {
							width: 100%;
							height: 300px;
							max-width: 500px;
							margin: 0 auto;

							@include breakpoint (small only){
								height: 400px;
							}//end small only breakpoint
							.cell{
								display: flex;
								justify-content: center;
								margin-bottom: $spacing--md;

								@include breakpoint (medium only){
									padding: 0 $spacing--xs;
								}//end medium only breakpoint

								@include breakpoint (small only){
									width: 50%;
									padding: 0 $spacing--xs;
									margin-bottom: $spacing--sm;
								}//end small only breakpoint
								.insurance-logos{
									align-self: center;
								}//end insurance logos
							}//end cell
						}//end .grid-x
					}//end .duo-image
				}//end .duo-media
			}//end .grid-x
		}//end .inner.expanded
	}//end .module.duo
}//end #insurance