#locations{
	background: $gradient-blue;
	position: relative;

	&:after{
		@include cartography-pattern;
	}//end after
	.module.deck{
		position: relative;
		z-index: 1;
		padding: $spacing--lg 0;

		@include breakpoint (medium only){
			padding: $spacing--md 0;
		}//end medium only breakpoint

		@include breakpoint (small only){
			padding: $spacing--sm 0;
		}//end small only breakpoint
		.inner.expanded{
			@include inner;
			@include innerpadding($p-medium: $spacing--xs, $p-large: $spacing--sm, $p-xlarge: $spacing--lg, $p-xxlarge: 6.5rem)
			.grid-x{
				.card-highlight{
					padding: 0 $spacing--xs;
					min-height: 380px;

					@include breakpoint (medium only){
						min-height: 300px;
					}//end medium only breakpoint

					@include breakpoint (small only){
						padding: 0;
						min-height: 250px;

						&:first-of-type{
							margin-bottom: $spacing--sm;
						}//end first-of-type
					}//end small only breakpoint

					.card-holder-link{
						height: 100%;
						display: block;
						position: relative;
						box-shadow: $box-shadow-1;
						background-size: cover;
						background-repeat: no-repeat;

						&:after{
							@include overlay;
							background: #1B3838;
							opacity: .5;
							@include transition;
						}//end after

						.card-holder{
							height: 100%;
							display: flex;
							align-items: center;
							justify-content: center;
							flex-direction: column;
							position: relative;
							z-index: 1;
							padding: $spacing--lg;

							p{
								position: relative;
								color: get-color(inverse);
								font-weight: $font-weight-bold;
								font-family: $header-font-family;
								font-size: 2rem;
								text-transform: uppercase;
								letter-spacing: 2px;
								text-align: center;
								line-height: 1.875rem;
								white-space: pre-line;
								@include transition;
								margin-bottom: $spacing--xs;
								align-self: center;
								min-width: 90px;
								
								&:after{
									content: '';
									position: absolute;
									top: 0;
									left: 0;
									right: 0;
									height: 1px;
									background: get-color(inverse);
									opacity: 0;
									@include transition;
								}//end after

								&:before{
									content: '';
									position: absolute;
									bottom: 0;
									left: 0;
									right: 0;
									height: 1px;
									background: get-color(inverse);
									opacity: 0;
									@include transition;
								}

								@include breakpoint (large only){
									font-size: 2rem;
								}//end large only breakpoint

								@include breakpoint (medium only){
									font-size: 2rem;
								}//end medium only breakpoint
							}//end p

							span{
								position: absolute;
								font-family: $body-font-family;
								font-weight: $font-weight-regular;
								text-transform: none;
								letter-spacing: 0;
								font-size: 1rem;
								left: 0;
								right: 0;
								bottom: -$spacing--lg;
								align-self: center;
								text-align: center;
								color: get-color(inverse);
								font-style: italic;
								opacity: 0;
								@include transition;

								@include breakpoint (small only){
									bottom:-$spacing--md;
								}//end small only breakpoint
							}//end span
						}//end .card-holder

						&:hover{
							p{
								&:after{
									transform: translateY(-8px);
									opacity: 1;
									@include transition;
								}//end after

								&:before{
									transform: translateY(8px);
									opacity: 1;
									@include transition;
								}//end before
							}//end p

							span{
								opacity: 1;
								display: block;
								@include transition;
							}//end span
							&:after{
								background: mix(#1B3838, get-color(accent5), 20%);
								opacity: .75;
								@include transition;
							}//end &:after
						}//end .treatment-box:hover

						&:focus{
							outline: none;
						}//end focus
					}//end .card-holder-link
				}//end .card-highlight
			}//end .grid-x
		}//end .inner.expanded
	}//end .module.deck

	.module.location-duo{
		position: relative;
		z-index: 2;

		.inner.expanded{
			@include inner;
			@include innerpadding ($p-medium: $spacing--xs, $p-large: $spacing--sm, $p-xlarge: $spacing--lg, $p-xxlarge: 6.5rem);
			.cell{
				padding: 0 $spacing--xs;

				@include breakpoint (small only){
					padding: 0;

					&:first-of-type{
						margin-bottom: $spacing--sm;
					}//end first-of-type
				}//end small only breakpoint
				.card-content{
					background: get-color(inverse);
					height: 100%;
					padding: $spacing--xl $spacing--lg;
					box-shadow: $box-shadow-1;

					@include breakpoint (xlarge only){
						padding: $spacing--lg;
					}//end xlarge only breakpoint

					@include breakpoint (large only){
						padding: $spacing--md;
					}//end large only breakpoint

					@include breakpoint (medium only){
						padding: $spacing--md;
					}//end medium only breakpoint

					@include breakpoint (small only){
						padding: $spacing--sm;

						h3{
							font-size: 1.5rem;
						}//end h3
					}//end small only breakpoint

					.divider{
						height: 2px;
						width: 100%;
						display: block;
						background: get-color(accent4);
						opacity: .5;
						margin-bottom: $spacing--xs;
					}//end .divider

					address{
						span{
							font-style: normal;
						}
						.country{
							display: none;
						}//end .usa
					}//end address
				}//end .card-content

				.map{
					box-shadow: $box-shadow-1;
					min-height: 0 !important;
					height: 100%;
					
					@include breakpoint (small only){
						min-height: 250px !important;
					}//end small only breakpoint
					
					.gm-style .gm-style-iw{
						p{
							font-size: 1rem;
							line-height: 1.5rem;
						}//end p
						.button.primary{
							box-shadow: none;
							margin-bottom: 0;
							&:hover{
								background: darken(get-color(accent1),10%);
								box-shadow: none;
								border-color: darken(get-color(accent1),10%);
								color: get-color(inverse);
							}//end hover
						}//end button primary
				}//end .gm-style .gm-style-iw
				}//end .map
			}//end .cell	
		}//end .inner.expannded
	}//end .module.location-duo
}//end #locations