#mission{
	&.module.deck{
		padding: $spacing--lg 0;
		position: relative;
		background: get-color(primary);

		@include breakpoint (medium only){
			padding: $spacing--md 0;
		}//end medium only breakpoint

		@include breakpoint (small only){
			padding: $spacing--xs 0;
		}//end small only breakpoint

		&:after{
			@include cartography-pattern;
		}//end after
		.inner.expanded{
			@include inner;

			.card{
				padding: $spacing--xxl;
				position: relative;
				z-index: 1;
				background: get-color(inverse);
				border: none;
				box-shadow: $box-shadow-1;
				margin-bottom: 0;

				@include breakpoint (xlarge only){
					padding: $spacing--xl;
				}//end xlarge only breakpoint

				@include breakpoint (large only){
					padding: $spacing--lg;

					h2{font-size:2rem;}
				}//end large only breakpoint

				@include breakpoint (medium only){
					padding: $spacing--md;

					h2{
						font-size: 2rem;
					}
				}//end medium only breakpoint

				@include breakpoint (small only){
					padding: $spacing--sm;
				}//end small only breakpoint

				.cta-text{
					font-family: $header-font-family;
				}//end .cta-text

				.button{
					max-width: 215px;
				}//end .button
			}//end card
		}//end .inner.expanded
	}//end .module.deck
}//end #mission