#success-and-lc{
	@include rock-pattern;
	background-color: get-color(accent3);

	.module.duo{
		padding-bottom: $spacing--md;
		position: relative;
		z-index: 1;
		.inner.expanded{
			@include inner;
			@include innerpadding($p-medium: $spacing--xs, $p-large: $spacing--sm, $p-xlarge: $spacing--lg, $p-xxlarge: 6.5rem);
			.grid-x{
				.cell{
					padding: 0 $spacing--xs;

					@include breakpoint (small only){
						padding: 0;
					}//end small only breakpoint 

					&.duo-media{
						min-height: 250px;

						@include breakpoint (small only){
							margin-bottom: $spacing--sm;
						}//end small only breakpoint
						.duo-img{
							height: 100%;
							background-size: cover;
							background-repeat: no-repeat;
							box-shadow: $box-shadow-1;
							min-height: 250px;
						}//end .duo-img
					}//end duo-media
					
					.card{
						padding: $spacing--xl;
						box-shadow: $box-shadow-1;

						@include breakpoint (large only){
							padding: $spacing--lg;
						}//end large only breakpoint

						@include breakpoint (medium only){
							padding: $spacing--md;
						}//end medium only breakpoint

						@include breakpoint (small only){
							padding: $spacing--sm;
						}//end small only breakpoint
					}//end .card
				}//end cell
			}//end .grid-x
		}//end .inner.expanded

		&#success-rate{
			.duo-img{background-image: url(../img/black-bear-outdoor-cabin.jpg);}//end duo-img
		}//end success-rate
		&#life-challenge{
			.duo-img{
				background-image: url(../img/people-smiling-life-challenge.jpg);
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: $spacing--lg;
				&:after{
					@include overlay;
					background-image: linear-gradient(-144deg, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0.65) 100%);
				}//end after

				img{
					z-index: 1;
					position: relative;
				}
			}//end duo-img
		}//end success-rate
	}//end .module.duo
}//end #success-and-lc