//TREATMENT

#treatment{
	&.module.deck.wildcard--deck{
		.inner.expanded{
			.grid-x{
				background: get-color(accent3);
				.card--wildcard{
					&.left{
						position: relative;

						@include breakpoint (small only){
							height: 466px !important;
						}//end small only breakpoint
						.wildcard--holder{
							position: absolute;
							top: 0;
							bottom: 0;
							right:0;
							left: 0;

								a.treatment-box{
									position: relative;
									background-repeat: no-repeat;
									background-size: cover;
									flex: 1 0 auto;
									display: block;

									@include breakpoint (small only){
										height: 33.3333%;
									}//end small only breakpoint
									.box-content{
										display: flex;
										justify-content: center;
										flex-direction: column;
										z-index: 1;
										position: absolute;
										top: 0;
										bottom: 0;
										right: 0;
										left: 0;
										padding: $spacing--sm;

										@include breakpoint (large only){
											padding: $spacing--sm;
										}//end large only breakpoint

										@include breakpoint (medium only){
											padding: $spacing--xs;
										}//end medium only breakpoint
										p{
											position: relative;
											color: get-color(inverse);
											font-weight: $font-weight-regular;
											font-family: $header-font-family;
											font-size: 1.5rem;
											text-transform: uppercase;
											letter-spacing: 2px;
											text-align: center;
											line-height: 1.875rem;
											white-space: pre-line;
											@include transition;
											margin-bottom: $spacing--xs;
											align-self: center;
											min-width: 90px;

											&:after{
												content: '';
												position: absolute;
												top: 0;
												left: 0;
												right: 0;
												height: 1px;
												background: get-color(inverse);
												opacity: 0;
												@include transition;
											}//end after

											&:before{
												content: '';
												position: absolute;
												bottom: 0;
												left: 0;
												right: 0;
												height: 1px;
												background: get-color(inverse);
												opacity: 0;
												@include transition;
											}

											@include breakpoint (medium only){
												font-size: 1.125rem;
												line-height: 22px;
												letter-spacing: 1px;
											}//end medium only breakpoint

											@include breakpoint (small only){
												font-size: 1.125rem;
												line-height: 22px;
											}//end small only breakpoint
										}//end p

										span{
											position: absolute;
											font-family: $body-font-family;
											text-transform: none;
											letter-spacing: 0;
											font-size: 1rem;
											left: 0;
											right: 0;
											bottom: -$spacing--lg;
											align-self: center;
											text-align: center;
											color: get-color(inverse);
											font-style: italic;
											opacity: 0;
											@include transition;

											@include breakpoint (small only){
												bottom:-$spacing--md;
											}//end small only breakpoint
										}//end span
									}//end .box-content

									&:after{
										@include pseudo;
										top: 0;
										bottom: 0;
										right: 0;
										left: 0;
										background: #1B3838;
										opacity: .5;
										@include transition;
									}//end :after

									&:hover{
										p{
											&:after{
												transform: translateY(-8px);
												opacity: 1;
												@include transition;
											}//end after

											&:before{
												transform: translateY(8px);
												opacity: 1;
												@include transition;
											}//end before

											@include breakpoint (small only){
												margin-bottom: $spacing--xs/2;
											}//end small only breakpoint
										}//end p

										span{
											opacity: 1;
											display: block;
											@include transition;
										}//end span
										&:after{
											background: mix(#1B3838, get-color(accent5), 20%);
											opacity: .75;
											@include transition;
										}//end &:after
									}//end .treatment-box:hover

									&:focus{
										outline: none;
									}//end focus
								}// end. a.treatment-box
						}//end .wildcard--holder
					}// end .left

					&.right{
						background: get-color(accent3);
						max-width: 600px;
						margin-right: auto;

						@include breakpoint (small only){
							max-width: none;
						}//end small only breakpoint
						.wildcard--holder{
							padding: $spacing--xxl;
							padding-right: 7.5rem;

							p{
								margin-bottom: 0;
							}//end p

							@include breakpoint (xlarge only){
								padding: $spacing--xl;
							}//end xlarge only breakpoint

							@include breakpoint (large only){
								padding: $spacing--lg;
							}//end large only breakpoint

							@include breakpoint (medium only){
								padding: $spacing--md;
							}//end medium only breakpoint

							@include breakpoint (small only){
								padding: $spacing--sm;
							}//end small only breakpoint
						}//end.wildcard--holder
					}//end .right
				}//end.card--wildcard
			}//end .grid-x
		}//end .inner.expanded
	}//end .module.deck.wildcard--deck
}//end treatment