#what-to-expect{
	&.module.spotlight{
		margin-top: -$spacing--xxl;
		margin-bottom: -$spacing--xxl;
		position: relative;
		padding: $spacing--xxl+$spacing--lg 0;
		background-image: url(../img/black-bear-landscape-sunset.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
		border-top: 8px solid get-color(secondary);

		@include breakpoint (small only){
			padding: $spacing--xxl+$spacing--sm 0;
		}//end small only breakpoint

		&:after{
			@include overlay;
			background-image: linear-gradient(-32deg, rgba(0,0,0,0.00) 40%, #2C4043 85%);

			@include breakpoint (small only){
				background-image: linear-gradient(-32deg, rgba(0,0,0,0.00) 0%, #2C4043 85%);
			}//end small only breakpoint
		}//end after

		.inner.expanded{
			@include inner;

			.grid-x{
				justify-content: flex-start;
				padding-left: $spacing--lg;

				@include breakpoint (small only){
					padding: 0;	
				}//end small only breakpoint

				.card-section{
					max-width: 480px;
					position: relative;
					z-index: 1;
					padding: 0;

					@include breakpoint (small only){
						max-width: none;

					}//end small only breakpoint
					h1{
						color: get-color(inverse);
						max-width: 436px;
						letter-spacing: 2px;
						line-height: 58px;

						@include breakpoint (small only){
							line-height: 39px;
							max-width: 270px;
						}//end small only breakpoint
					}//end h1
						
					p{
						color: get-color(inverse);
						margin-bottom: $spacing--sm;
					}//end p

					.button-group{
						margin: 0;
						justify-content: space-between;

						.button{
							max-width: 220px;
							margin: 0;
						}
					}//end .expanded.button-group

					@include breakpoint (small only){
						.button-group{
							flex-direction: column;
							max-width: none;
							margin: 0;

							.button{
								width: 100%;
								max-width: none;

								&.primary:first-of-type{
									margin-bottom: $spacing--xs;
								}//end .primary
							}//end .button
						}//end .button group
					}//end small only breakpoint
				}//end .card-section
			}//end .grid-x
		}//end .inner.expanded
	}//end .module.spotlight
}//end #what-to-expect

#free-assessment{
	&.module.deck{
		position: relative;
		padding-bottom: $spacing--lg;

		@include breakpoint (medium only){
			padding-bottom: $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small only){
			padding-bottom: $spacing--sm;
		}//end small only breakpoint

		&:after{
			@include cartography-pattern;
			background-color: get-color(accent5);
			top: 5rem;
			bottom: -5rem;
		}//end after
		.inner.expanded{
			@include inner;
			@include innerpadding($p-xlarge: 7rem, $p-xxlarge: 7.5rem + $spacing--lg);

			.card{
				padding: $spacing--xl $spacing--xxl;
				box-shadow: $box-shadow-1;
				position: relative;
				z-index:1;

				@include breakpoint (xlarge only){
					padding: $spacing--xl;
				}//end xlarge only breakpoint

				@include breakpoint (large only){
					padding: $spacing--lg;
				}//end large only breakpoint

				@include breakpoint (medium only){
					padding: $spacing--md;
				}//end medium only breakpoint

				@include breakpoint (small only){
					padding: $spacing--sm;
				}//end small only breakpoint

				li{
					font-size: 1.125rem;
					line-height: 1.5rem;
					margin-bottom: $spacing--xs;

					@include breakpoint (small only){
						font-size: 1rem;
					}//end small only breakpoint

					&:last-child{
						margin-bottom: 0;
					}//end last-child
				}//end li
			}//end .card
		}//end .inner.expanded
	}//end .module.deck
}//end #free-assessment