    <div id="nav">
        {{> component-notification}}            
        {{!Mobile-Phone}}
        <div id="mobilephone" class="grid-x show-for-small-only">
            <a class="cell small-6 mobilephone__chat" data-chat data-chat-offline-text="Email Us" data-chat-online-text="Live Chat" data-ga-event data-ga-category="Live Chat" data-ga-action="Chat Button" data-ga-label="Live Chat Mobile" onClick="livechatClick(); _ictt.push(['Live Chat']);">Live Chat</a>
            <a  href="tel:{{#unlesspage 'v-ad' 'v-sms'}}{{site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{site.phone-ad}}{{/ifpage}}{{#ifpage 'v-sms'}}{{site.phone-sms}}{{/ifpage}}" class="{{#unlesspage 'v-ad'}}InfinityNumber{{/unlesspage}} cell small-6 mobilephone__call" data-ga-event data-ga-category="Phone Numbers" data-ga-action="Phone Clicks" data-ga-label="Phone Clicks Mobile" data-ict-discovery-number="{{site.phone}}" data-ict-silent-replacements="false">{{#unlesspage 'v-ad' 'v-sms'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}{{#ifpage 'v-sms'}}{{@root.site.phone-sms}}{{/ifpage}}</a>
        </div>{{!--/.mobile-bar--}}

        {{!Title-Bar}}
        <div class="title-bar show-for-small-only" data-responsive-toggle="{{site.content.header.mobile-menu-id}}" data-hide-for="medium">
            <a href="" class="title-bar-left">
                <img src="{{site.logo.mobile-img}}" class="site-logo" alt="{{text}}" />
            </a>{{!--/.title-bar-left--}}

            {{#unless menu-none}}
            <div class="title-bar-right">
                <button type="button" id="hamburger-menu" class="hamburger nav-button hamburger--spin" data-toggle="{{site.content.header.mobile-menu-id}}" data-ga-event data-ga-category="Hambuger Menu" data-ga-action="Navigate" data-ga-label="open mobile menu">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                    <span class="hamburger-label">Menu</span>
                </button>
            </div>{{!--/.title-bar-right--}}
            {{/unless}}
        </div>{{!--/.title-bar--}}

        {{!Mobile Menu}}
        <div id="{{site.content.header.mobile-menu-id}}" class="hide-for-medium">
            <ul class="main-menu" data-smooth-scroll data-offset="85">
                {{#each site.content.header.top-bar.right}}
                <li class="menu-text">
                    {{#if href}}
                        <a href="{{href}}" data-ga-event data-ga-category="Menu Item" data-ga-action="Navigate" data-ga-label="{{text}}">{{text}}</a>
                    {{else}}
                        {{text}}
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </div>{{!--/#mobile-menu--}}

        {{!Top-Bar}}
        <div class="top-bar show-for-medium" id="{{site.content.header.menu-id}}">
            <div class="inner">
                <div class="top-bar-left">
                    <a id="nav-logo" href="/lp/">
                        <img src="{{site.logo.img}}" class="site-logo" alt="{{site.logo.text}}" />
                    </a>
                </div>{{!--/.top-bar-left--}}
                 <div class="top-bar-right">
                    {{#unless menu-none}}
                        <ul id="nav-items" class="dropdown menu" data-smooth-scroll data-offset="90">
                            {{#each site.content.header.top-bar.right}}
                                <li class="menu-text">
                                    {{#if href}}
                                        <a href="{{href}}" data-ga-event data-ga-category="Menu Item" data-ga-action="Navigate" data-ga-label="{{text}}">{{text}}</a>
                                    {{else}}
                                        {{text}}
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>
                        {{/unless}}
                        <div id="callinfo" class="{{#unlesspage 'v-ad'}}InfinityNumber{{/unlesspage}}">{{#unlesspage 'v-ad' 'v-sms'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}{{#ifpage 'v-sms'}}{{@root.site.phone-sms}}{{/ifpage}}</div>
                        <div class="joint-commission-logo">
                            <img class="accreditation" src="{{@root.site.accreditation.img}}" alt="{{@root.site.accreditation.text}}">
                        </div>{{!--/.carf-logo--}}
                </div>{{!--/.top-bar-right--}}
            </div>{{!--/.inner--}}
        </div>{{!--/.top-bar--}}

    </div>{{!--/#nav--}}
