<div id="hero" class="module billboard {{#if class}}{{class}}{{/if}}">
  <div id="nav-triggerpoint" class="cell card-section">
    <img class="accreditation show-for-small-only" src="{{@root.site.accreditation.img}}" alt="{{@root.site.accreditation.text}}">

    {{#if keywords}}
      <h1 class="billboard__header">Accredited {{> keyword}} at a peaceful retreat in the beautiful mountains of Georgia.</h1>
      <p>Our nationally recognized {{> keyword}} uses evidence-based methods that produce life-changing results for individuals with addiction and mental health disorders.</p>
    {{else}}

    {{#if insurance-keywords}}
      <h1 class="billboard__header">Accredited substance abuse center covered by {{> keyword}} in the beautiful mountains of Georgia.</h1>
      <p>Our nationally recognized treatment center uses evidence-based methods that produce life-changing results for individuals with addiction and mental health disorders.</p>
    {{else}}

    {{#if branding}}
      <h1 class="billboard__header">Black Bear Lodge</h1>
      <h2>A peaceful retreat for addiction and mental health treatment</h2>
      <p>Our nationally recognized and accredited substance abuse treatment center uses evidence-based methods that produce life-changing results for individuals with addiction and mental health disorders.</p>
    {{else}}

    <h1 class="billboard__header">{{heading}}</h1>
    <p>{{text}}</p>
  	{{/if}}
    {{/if}}
    {{/if}}

    <div class="expanded button-group">
      {{> component-button phone=true ga-label="Phone Clicks Billboard"}}
      {{> component-button chat=true ga-label="Live Chat Billboard"}}
    </div>
  </div>
</div>{{!--/.module.billboard--}}

