{{#*inline "content"}}
<div id="treatment" class="module deck wildcard--deck">
	<div class="inner expanded">
		<div class="grid-x" data-equalizer="card" data-equalize-on="medium">

			{{!Duo Image}}
			<div class="card--wildcard cell left large-7 medium-6 small-order-2 medium-order-1" data-equalizer-watch="card">
				<div class="wildcard--holder grid-x small-up-2 medium-up-3">
					{{#each @root.treatment-items}}
					{{!Card}}
					<a class="treatment-box cell" style="background-image: url({{img}})" data-ga-event data-ga-category="{{../id}}" data-ga-action="open modal" data-ga-label="{{title}}" data-open="treatment-item-{{@index}}">
						<div class="box-content">
							<p>{{title}}<span data-open="treatment-item-{{@index}}">+ More Info</span></p>
						</div>{{!--/.box-content--}}
					</a>

					{{!Reveal}}
					<div class="reveal treatment-modals" id="treatment-item-{{@index}}" data-reveal>
						<div class="reveal-card">
                    		<h4>{{title}}</h4>
                    		<p>{{#markdown}}{{content}}{{/markdown}}</p>
                  		</div>{{!--/.reveal-card--}}
                  		<button class="close-button" data-close aria-label="Close modal" type="button">
                    		<span aria-hidden>&times;</span>
                  		</button>{{!--/button--}}
					</div>{{!--/.reveal--}}
					{{/each}}
				</div>{{!--/.wildcard--holder--}}
			</div>{{!--/.card--wildcard.left--}}

			{{!Duo Content}}
			<div class="card--wildcard cell right large-5 medium-6 small-order-1 medium-order-2" data-equalizer-watch="card">
				<div class="wildcard--holder">
					<h2>{{heading}}</h2>
					<p>{{text}}</p>
				</div>{{!--/.wildcard--holder--}}
			</div>{{!--/.card--wildcard.right--}}
		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner.expanded--}}
</div>{{!--/.module.deck.wildcard--deck--}}
{{/inline}}
{{>content id="treatment-cards"}}