<div id="mission" class="module deck">
	<div class="inner expanded">
		<div class="card">
			<h2>Our Mission</h2>
			<p>Our mission at Black Bear Lodge is to equip individuals with the tools they need to build their own lives in recovery. We believe that every person has the ability to change and heal, and we meet patients where they are with an attitude of acceptance and nonjudgment. At Black Bear Lodge, patients are encouraged to rediscover themselves and find new motivation to live a healthy, full life. They are empowered to live bigger than their diagnoses, to find satisfaction and fulfillment outside of self-medicating with drugs, alcohol or compulsive behaviors. We help patients learn new coping skills and find the confidence to overcome life’s challenges.</p>
		</div>{{!--/.card--}}
	</div>{{!--/.inner.expanded--}}
	{{> mountains}}
</div>{{!--/.module.deck--}}