<div id="locations">
	{{#if branding}}
	{{> component-email}}
	{{/if}}
	<div class="module deck">
		<div class="inner expanded">
			<div class="grid-x">
				{{#each treatment-locations}}
				{{!Card}}
				<div class="card-highlight cell medium-6">
					<a class="card-holder-link"  style="background-image: url({{img}})" data-ga-event data-ga-category="location-cards" data-ga-action="open modal" data-ga-label="{{title}}" data-open="treatment-location-{{@index}}">
						<div class="card-holder">
						<p>{{title}}<span data-open="treatment-location-{{@index}}">+ More Info</span></p>
					</div>{{!--/.card-holder--}}
					</a>{{!--/.card-holder-link--}}
				</div>{{!--/.cell.medium-6--}}

				{{!Reveal}}
				<div class="reveal treatment-modals" id="treatment-location-{{@index}}" data-reveal>
					<div class="reveal-card">
                		<h4>{{title}}</h4>
                		<p>{{#markdown}}{{content}}{{/markdown}}</p>
              		</div>{{!--/.reveal-card--}}
              		<button class="close-button" data-close aria-label="Close modal" type="button">
                		<span aria-hidden>&times;</span>
              		</button>{{!--/button--}}
				</div>{{!--/.reveal--}}
				{{/each}}
			</div>{{!--/.grid-x--}}
		</div>{{!--/.inner.expanded--}}
	</div>{{!--/.module.deck--}}

	<div class="module location-duo">
	  <div class="inner expanded">
	    <div class="grid-x">
	        <div class="cell medium-6 large-5">
		        <div class="card-content">
		            <h3>Our Location</h3>
		            <p>
		              Black Bear Lodge is located in the serene forest foothills of Northern Georgia. 
		            </p>
		            <div class="divider"></div>
		            <h4>Black Bear Lodge</h4>
		            {{> address}}
				</div>{{!--/.card-content--}}
	        </div>{{!--/.cell.large-5--}}
	    

	        <div class="cell medium-6 large-7 map">
	          <div class="map" data-map data-map-lat="34.659661" data-map-lng="-83.722108"
	        data-map-zoom="12" data-map-style="grey"></div>
	        </div>{{!--/.large-8.map--spotlight--}}

	    </div>{{!--/.grid-x--}}

	  </div>{{!--/.inner.expanded--}}
	</div>{{!--/.module.billboard--}}
</div>{{!--/#locations--}}