{{!WHAT TO EXPECT SECTION}}
<div id="what-to-expect" class="module spotlight">
  <div class="inner expanded">
    <div class="grid-x">
      <div class="card-section cell">
        <h1>What to Expect When You Call</h1>
        <p>Asking for help is an important starting point of your recovery. To help ease any concerns about the initial phone call, our coordinators will guide you through a free, confidential assessment. After reviewing your assessment and your insurance information, our experienced staff will determine the most appropriate level of care for you or your loved one.</p>
        <div class="expanded button-group">
          {{> component-button phone=true}}
          {{> component-button chat=true}}
        </div>{{!--/.expanded.butotn-group--}}
      </div>{{!--/.card-section.cell--}}
    </div>{{!--/.grid-x--}}
  </div>{{!--/.inner.expanded--}}
</div>{{!--/.module.spotlight--}}

{{!FREE ASSESSMENT SECTION}}
<div id="free-assessment" class="module deck">
    <div class="inner expanded">
      <div class="card">
        <h3>We are available 24/7 for your free assessment</h3>
        <p>Here are a few sample questions you can expect to cover:</p>
        <ul>
          <li>What current issues prompted your call today?</li>
          <li>Does the individual have any previous treatment history?</li>
          <li>Does the individual have a co-occurring disorder (mental health + substance abuse)?</li>
          <li>Does the individual have an insurance policy to cover treatment?</li>
        </ul>
      </div>{{!--/.card--}}
    </div>{{!--/.inner.expanded--}}
</div>{{!--/.modulde.deck--}}