  <address itemscope itemtype="http://schema.org/PostalAddress">
      <span class="street-address" itemprop="streetAddress">{{address.streetAddress}}</span>
      <br>
      <span class="city" itemprop="addressLocality">{{address.city}}</span>,
      <span class="state" itemprop="addressRegion">{{address.state}}</span>
      <span class="postal-code" itemprop="postalCode">{{address.zip}}</span>
      <span class="country" itemprop="addressCountry">{{address.country}}</span>
  </address>
