<div id="contact" class="module cta">
	<div class="inner expanded">
		<div class="grid-x">
			<div class="cell card-section">
				<h2>We're Here to Help</h2>
				<p>Contact us to get started or to ask a question</p>
				<div class="expanded button-group">
					{{> component-button phone=true}}
					{{> component-button chat=true}}
		        </div>{{!--/.expanded.butotn-group--}}
			</div>{{!--/.cell.card-section--}}
		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner.expanded--}}
</div>{{!--/.module.spotlight--}}