{{#if phone}}
  <a href="tel:{{@root.site.phone}}"
     class="{{#unlesspage 'v-ad'}}InfinityNumber{{/unlesspage}} button primary {{#if class}}{{class}}{{/if}}"
     data-ict-discovery-number="{{@root.site.phone}}"
     data-ict-silent-replacements="false"
     onClick="fbq('track', 'Lead', {
                content_name: 'Black Bear PPC', 
                content_category: 'Landing Pages',
                content_type: 'Phone Clicks'
              });"
     data-ga-event
     data-ga-category="Phone Numbers"
     data-ga-action="Phone Clicks"
     data-ga-label="{{#unlesspage 'v-ad' 'v-sms'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}{{#ifpage 'v-sms'}}{{@root.site.phone-sms}}{{/ifpage}}">
     {{#unlesspage 'v-ad' 'v-sms'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}{{#ifpage 'v-sms'}}{{@root.site.phone-sms}}{{/ifpage}}
  </a>
{{/if}}

{{#if chat
      }}
  <a class="button primary hollow {{#if class}}{{class}}{{/if}} {{#if red}}red{{/if}}"
          data-chat
          data-chat-online-text="Live Chat"
          data-chat-offline-text="Email Us"
          data-ga-event
          data-ga-category="Live Chat"
          data-ga-action="Chat Button"
          data-ga-label="{{#if ga-label}}{{ga-label}}{{else}}Live Chat{{/if}}"
          onClick="livechatClick(); _ictt.push(['Live Chat']);">
          Live Chat
  </a>
{{/if}}