<div id="{{id}}" class="module staff {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<h2>{{heading}}</h2>
		{{#markdown}}{{text}}{{/markdown}}

		<div class="staff-container">
			<div class="grid-x">
				{{#each members}}
				<div class="cell large-4 medium-4 small-12">
					<div class="staff-member">
						<div class="staff-media" style="background-image: url({{img}})"></div>{{!--/.staff-media--}}
						<div class="staff-info">
							<h3>{{name}}</h3>
							<h4>{{title}}</h4>
						</div>{{!--staff-info--}}
					</div>{{!--/.staff-member--}}
				</div>{{!--/.cell--}}
				{{/each}}
			</div>{{!--/.grid-x--}}
		</div>{{!--staff-container--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.staff--}}
