{{> component-accreditations}}
<div class="footer">
      Copyright © <script>document.write(new Date().getFullYear())</script> Black Bear Lodge. All Rights Reserved. | Confidential and Private Call: <span class="{{#unlesspage 'v-ad'}}InfinityNumber{{/unlesspage}}">{{site.phone}}</span> | <a href="https://blackbearrehab.com/wp-content/plugins/frn_plugins/privacy-policy.pdf">Privacy Policy</a>
</div>{{!--/.footer--}}