<div id="insurance" class="module insurance-keywords {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="insurance-keywords--card">
			<img src="{{src}}" alt="{{alt}}" class="insurance-logos">
			<h2>{{> keyword}} Insurance Accepted</h2>
			<p>When you or your loved one are in need of treatment, there are often concerns about how much it will cost and what your {{> keyword}} policy will cover. Our expert team works with insurance companies on a daily basis and are here to assist you.</p>
			<p>Give us a call us now and we can take care of most of the legwork for you. We can even recommend other programs to you if ours isn’t the best fit for your individual needs.</p>
	        {{> component-button phone=true}}
		</div>{{!--/.insurance-keywords--card--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.insurance-keywords--}}