<div id="{{id}}" class="module wysiwyg {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="wysiwyg--card">
			<h2>{{heading}}</h2>
			{{#markdown}}{{text}}{{/markdown}}
			
			{{#if buttons}}
			<div class="expanded button-group">
		        {{> component-button phone=true}}
		        {{> component-button chat=true red=true}}
		    </div>{{!--/.expanded.butotn-group--}}
		    {{/if}}
		    {{#if button}}
		    	{{> component-button phone=true}}
		    {{/if}}
		</div>{{!--/.wysiwyg--card--}}
	</div>{{!--/.inner--}}
	{{#if mountains}}{{> mountains}}{{/if}}
</div>{{!--/.module.wysiwyg--}}