<div id="{{id}}" class="module spotlight {{#if class}}{{class}}{{/if}}" style="background-image: url({{img}})">
  <div class="inner">
      <div class="card-section">
        <h2>{{heading}}</h2>
        {{#markdown}}{{text}}{{/markdown}}

        {{#if buttons}}
        <div class="expanded button-group">
            {{> component-button phone=true}}
            {{> component-button chat=true}}
        </div>{{!--/.expanded.button-group--}}
        {{/if}}
        {{#if button}}
          {{> component-button phone=true}}
        {{/if}}
      </div>{{!--/.card-section.--}}
  </div>{{!--/.inner--}}
</div>{{!--/.module.spotlight--}}