<div class="module email">
	<div class="inner expanded">
		<div class="email__card">
			<h3>Subscribe to our email list!</h3>
			<form class="form form--email" target="_blank" action="http://cloud.frn-mail.com/subscribe" method="GET">
    			<input placeholder="Email Address" id="input" class="form__input" type="text" name="email">
    			<input name="domain" type="hidden" value="Black Bear LP">
    			<button type="submit" value="Sign Me Up" class="button secondary">Sign Me Up</button>
			</form>
		</div>
	</div>
</div>