<!-- Start Visual Website Optimizer Synchronous Code -->
  <script type='text/javascript'>
  var _vis_opt_account_id = 341821;
  var _vis_opt_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://');
  document.write('<s' + 'cript src="' + _vis_opt_protocol +
  'dev.visualwebsiteoptimizer.com/deploy/js_visitor_settings.php?v=1&a='+_vis_opt_account_id+'&url='
  +encodeURIComponent(document.URL)+'&random='+Math.random()+'" type="text/javascript">' + '<\/s' + 'cript>');
  </script>

  <script type='text/javascript'>
  if(typeof(_vis_opt_settings_loaded) == "boolean") { document.write('<s' + 'cript src="' + _vis_opt_protocol +
  'd5phz18u4wuww.cloudfront.net/vis_opt.js" type="text/javascript">' + '<\/s' + 'cript>'); }
  /* if your site already has jQuery 1.4.2, replace vis_opt.js with vis_opt_no_jquery.js above */
  </script>

  <script type='text/javascript'>
  if(typeof(_vis_opt_settings_loaded) == "boolean" && typeof(_vis_opt_top_initialize) == "function") {
          _vis_opt_top_initialize(); vwo_$(document).ready(function() { _vis_opt_bottom_initialize(); });
  }
  </script>
<!-- End Visual Website Optimizer Synchronous Code -->

<!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '402262266824056');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=402262266824056&ev=PageView&noscript=1"
  /></noscript>
<!-- End Facebook Pixel Code -->

<!-- UET Tracking Code for Bing -->
  <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5996387"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
<!-- End UET Tracking Code for Bing -->

<!-- Bing Click Event Tracking -->
<script>
/* VOB CLICK */
function vobClick() {
  window.uetq = window.uetq || []; 
  window.uetq.push ('event', 'VOB Click', {event_category: 'VOB'});
}

/* CHAT CLICK */
function livechatClick() {
  window.uetq = window.uetq || []; 
  window.uetq.push ('event', 'Chat Click', {event_category: 'Live Chat'});
}  
</script>
<!-- End Bing Click Event Tracking -->

<!-- VWO Infinity Callback -->
<script type="text/javascript">
var _ictVwoIntegration = function(key) {
    if (key !== undefined && _ictt !== undefined && _vis_opt_readCookie != undefined) {
        var vwoCombination = _vis_opt_readCookie('_vis_opt_exp_'+window[key]+'_combi');

        if (typeof _vwo_exp[window[key]] != 'undefined' && typeof(_vwo_exp[window[key]].combination_chosen) != 'undefined') {
            vwoCombination = _vwo_exp[window[key]].combination_chosen;
        }
        if (vwoCombination !== '' && vwoCombination !== null) {
            _ictt.push([ '_setCustomVar', ['vwocomb', vwoCombination] ]);
        }
        _ictt.push([ '_setCustomVar', ['vwoexp', window[key]] ]);
    };
}
</script>
<!-- VWO Infinity Callback -->

<!-- Infinity Tracking Code v2.0
 Copyright Infinity 2019
 www.infinity.co -->
<script type="text/javascript">
    var _ictt = _ictt || [];
    _ictt.push(['_setIgrp','2728']); // Installation ID
    _ictt.push(['_enableGAIntegration',{'gua':true,'ga':false}]);
    _ictt.push(['_includeExternal',[{'from':'_vis_opt_experiment_id','to':'_ictVwoIntegration'}]]);
    _ictt.push(['_enableAutoDiscovery']);
    _ictt.push(['_track']);
(function() {
    var ict = document.createElement('script'); ict.type = 'text/javascript'; ict.async = true;
    ict.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'ict.infinity-tracking.net/js/nas.v1.min.js';
    var scr = document.getElementsByTagName('script')[0]; scr.parentNode.insertBefore(ict, scr);
})();
</script>
<!-- Infinity Tracking Code End -->